nav
{
    
    background-color: rgba(7, 255, 201, 0.7);
    display: grid ;
    padding: 10px;
    place-items: center;   
    margin-top: -7px;
    width: 99%;
    grid-template-columns: 300px 400px 800px;
    
    
}

.itens
{
    
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 90px;
    font-family: 'sans-serif' ;
    cursor: pointer;
    text-decoration:none;
}
.itens:hover{

    background-color: rgba(171, 243, 231, 0.281);
    color: rgba(245, 241, 237, 0.493);

}
#fundo

{
    position: fixed;
    background-size: 100%;
    background-repeat: no-repeat absolute;
    width: 90%;
    height: 100%;
}