nav
{
    
    background-color: rgba(70, 64, 58, 0.973);
    display: grid ;
    padding: 10px;
    place-items: center;   
    margin-top: -9px;
    width: 100%;
    
    grid-template-columns: auto auto auto;
    
    
}

.itens
{
    min-width: 100px; max-width: 590;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 90px;
    cursor: pointer;
    text-decoration:none;
}